# Copy to .env.development or .env.production and fill in values

NODE_ENV=development|production
DB_DRIVER=sqlite|postgres

# SQLite (dev only)
DATABASE_URL=./dev.db

# PostgreSQL (prod)
# DATABASE_URL=postgresql://user:password@host:5432/character_printer

NEXTAUTH_SECRET=generate-with-openssl-rand-base64-32
NEXTAUTH_URL=http://localhost:3000
